{% extends 'base.html.twig' %}

 {% block body %}
   <form action="{{ path('excel_export_clients') }}" method="POST">
  <button type="submit" name="sumbmit">exporter en excel les client</button>
  </form>

 {% endblock %}